.content {
  padding: 50px 0 100px;

  .list {
    display: flex;
    margin: 0 auto 30px;
    padding: 10px;
    width: 171px;
    gap: 16px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 250ms ease-in-out;
  }

  .color-mod-checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      background-color: #fff;
      transition: all 300ms ease-in-out;
    }

    .checkmark svg {
      width: 32px;
      height: 32px;
      fill: $primer-background;
      transition: all 200ms ease-in-out;
    }

    input:checked ~ .checkmark {
      background-color: #212121;

      svg {
        fill: #00ff7b;
      }
    }
  }

  .knobs,
  .layer {
    position: absolute;
    inset: 0;
  }

  .knobs {
    z-index: 2;
  }

  .layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
    transition: all 250ms ease-in-out;
  }

  .button {
    position: relative;
    width: 90px;
    height: 45px;
    overflow: hidden;
  }

  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }

  .button.r,
  .button.r .layer {
    border-radius: 100px;
  }

  #button-3 {
    .knobs:before {
      content: 'C';
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 6px;
      top: 50%;
      transform: translateY(-50%);
      width: 36px;
      height: 36px;
      color: #fff;
      font-size: 24px;
      font-weight: bold;
      line-height: 1;
      background-color: #03a9f4;
      border-radius: 50%;
      transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
    }

    .checkbox:active + .knobs:before {
      width: 60px;
      border-radius: 100px;
    }

    .checkbox:checked:active + .knobs:before {
      margin-left: -26px;
    }

    .checkbox:checked + .knobs:before {
      content: 'F';
      left: 48px;
      background-color: #f44336;
    }
  }
}

.wrap-weather {
  display: flex;
  flex-direction: column;
  padding: 28px 28px 66px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 250ms ease-in-out;
}

#now {
  margin-bottom: 66px;
  display: flex;
  align-items: center;

  .place-wrap {
    position: relative;
  }

  .place {
    text-align: center;
    color: #fff;
    opacity: 0.8;
    top: -10px;
    left: -260px;
    width: 510px;
    text-align: center;
    position: absolute;
    letter-spacing: 0.4em;
    transform: rotate(-90deg);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .icon-type {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    fill: rgba(255, 0, 0, 1);
    animation: pulsation 4s infinite alternate;
  }

  .info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    background-color: $second-background;
    transition: all 250ms ease-in-out;
  }

  h1 {
    margin: 20px 0;
    text-transform: uppercase;
  }

  .param {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

    & > li:nth-child(3) {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }

  .temp-subtitle {
    font-size: 28px;
    font-weight: 600;
  }

  .num {
    font-size: 24px;
    font-weight: 500;
  }

  .temperature {
    display: flex;
  }

  .icon-compass {
    fill: #373d43;
    display: flex;
    width: 18px;
    height: 18px;
    transition: all 250ms ease-in-out;
  }

  .compass {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1.5px solid #373d43;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: all 250ms ease-in-out;
    animation: aminArrow 1s infinite alternate;
  }
}

@keyframes pulsation {
  0% {
    opacity: 0.2;
    fill: rgba(0, 0, 0, 1);
  }

  100% {
    opacity: 1;
  }
}

@keyframes aminArrow {
  0% {
    transform: rotate(2deg);
  }

  50% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(2deg);
  }
}

.wrap-swiper {
  position: relative;
}

.swiper-container {
  position: relative;
  overflow: hidden;
  height: 490px;
}

.swiper-button-next {
  position: absolute;
  transform: rotate(90deg);
  top: 520px;
  right: 141.5px;
  transition: all 250ms ease-in-out;
}

.swiper-button-prev {
  position: absolute;
  transform: rotate(90deg);
  top: -30px;
  left: 141.5px;
  transition: all 250ms ease-in-out;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  position: absolute;
  background-color: #fff;
  padding: 8px;
  border-radius: 12px;
  transition: all 250ms ease-in-out;
}

#some {
  .info {
    display: flex;
    height: 82px;
    align-items: center;
    gap: 12px;
    padding: 5px;
    border-radius: 12px;
    background-color: $second-background;
    transition: all 250ms ease-in-out;
  }

  .icon-type {
    width: 55px;
    height: 55px;
  }

  .description {
    display: flex;
    gap: 4px;
    text-transform: capitalize;
  }

  .temperature {
    display: flex;
    gap: 4px;
  }
}

@media (min-width: 768px) {
  .wrap-weather {
    flex-direction: row;
    gap: 30px;
    align-items: center;
    padding: 56px 28px;
    justify-content: space-between;
  }

  #now {
    margin: 0;
    width: 350px;
  }
}

@media screen and (min-width: 1280px) {
  #now {
    width: 850px;

    .info {
      align-items: center;
      flex-direction: row;
    }

    .param {
      flex-direction: column;

      & > li:nth-child(3) {
        display: flex;
        gap: 20px;
      }
    }

    .icon-type {
      flex-shrink: 0;
      width: 500px;
      height: 500px;
      margin: 0 40px 0 0;
    }
  }
}
