<section class="content">
  <div class="container">
    <ul class="list">
      <li>
        <label class="color-mod-checkbox">
          <input type="checkbox" class="theme" />
          <div class="checkmark">
            <svg>
              <use href="/public/icons.svg#icon-switch"></use>
            </svg>
          </div>
        </label>
      </li>
      <li>
        <div id="button-3" class="button r">
          <input class="checkbox units" type="checkbox" />
          <div class="knobs"></div>
          <div class="layer"></div>
        </div>
      </li>
    </ul>

    <div class="wrap-weather">
      <div id="now"></div>
      <div class="wrap-swiper">
        <div class="swiper-container">
          <div class="swiper-wrapper" id="some"></div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>
</section>
